<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load branches_list %}


{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<html lang="{{ LANGUAGE_CODE }}" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- Third-party CSS libraries go here -->
    <link href="{% static 'bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap3/css/bootstrap-dialog.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!--ajouté par moi pour datepicker jquery-->
    <link rel="stylesheet" href="/static/jqueryui/jquery-ui.min.css">



    <!-- Project specific CSS -->
    {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo" href="/">Cosas de casa</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
              <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ LANGUAGE_CODE }}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown02">{% for lang in LANGUAGES %}
                  <form id="formsetLang{{ lang.0 }}" action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="language" value="{{ lang.0 }}" />
                    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                  </form>
                  <li><a class="language_changer" id="{{ lang.0 }}" href="#">{{ lang.1 }}</a></li>
                {% endfor %}
                </ul>
              </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans "First Steps" %}
                       <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><span class="glyphicon glyphicon-pencil"></span>  Preparation</li>
                        <li><a href="{% url "inventory:branch_create" %}">{% trans 'Create Branch' %}</a> </li>
                        <li><a href="{% url "inventory:category_create" %}" title="{% trans 'Create category' %}">{% trans 'Create one Category' %}</a></li>
                        <li><a href="{% url "inventory:arrival_create" %}" title="{% trans 'Create  Arrival' %}"> {% trans 'Create one Arrival' %}</a></li>
                        <li><a href="{% url "inventory:upload_zipics" %}" title="{% trans 'Upload pictures ZIP' %}">{% trans 'Upload ZIP pictures' %}</a></li>
                        <li><a href="{% url "inventory:handle_pics" %}" title="{% trans 'Generate articles from pictures' %}">{% trans 'Generate Articles' %}</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">{% trans 'Your Basic Data'%}</li>
                        <li><a href="{% url "inventory:branches" %}"><span class="glyphicon glyphicon-list-alt"></span>  {% trans 'Branches' %}</a> </li>
                        <li><a href="{% url "inventory:arrivals" %}" title="{% trans 'Arrivals List' %}"><span class="glyphicon glyphicon-list-alt"></span>  {% trans 'Arrivals' %}</a></li>
                        <li><a href="{% url "inventory:categories" %}" title="{% trans 'List the categories' %}"><span class="glyphicon glyphicon-list-alt"></span>  {% trans 'Categories' %}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans "Caisse" %}
                       <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "inventory:articles" %}" title="{% trans 'Liste des articles' %}"><span class="glyphicon glyphicon-list-alt"></span>  {% trans 'Liste des articles' %}</a></li>
                        <li><a href="{% url "inventory:articles_by_pictures" %}"><span class="glyphicon glyphicon-camera"></span>  {% trans "Articles by pics" %}<a/></li>
                        <li class="divider"></li>
                        <li><a href="{% url "cart:cart_content" %}"><span class="glyphicon glyphicon-shopping-cart"></span>  {%trans 'Contenu du panier' %}</a></li>
                        <li><a href="{% url "cart:ventes"  %}"><span class="glyphicon glyphicon-money"></span>{% trans 'Ventes' %}</a></li>
                        <li><a href="{% url "cart:paiements"  %}">{% trans 'Payments' %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "cart:clients" %}"><span class="glyphicon glyphicon-user"></span>  {% trans 'Clients' %}</a></li>
                        <li><a href="{% url "cart:client_create" %}"><span class="glyphicon glyphicon-pencil"></span>  {% trans 'Ajouter un client' %}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown">{% trans "Costs" %}
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url "costs:costs" %}">{% trans "Costs" %}</a> </li>
                    <li><a title="{% trans 'Adding a lost is possible in article details view' %}" href="{% url "inventory:losses" %}">{% trans "Losses" %}</a> </li>
                    <li><a href="{% url "costs:costs_create" %}">{% trans "Add one Cost" %}</a> </li>
                    <li class="divider"></li>
                    <li><a href="{% url "costs:categories" %}"><span class="glyphicon glyphicon-tags"></span>  {% trans "Categories" %}</a> </li>
                    <li><a href="{% url "costs:category_create" %}"><span class="glyphicon glyphicon-pencil"></span>  {% trans "Create a category" %}</a> </li>
                    <li class="divider"></li>
                    <li><a href="{% url "costs:enterprises" %}"><span class="glyphicon glyphicon-list-alt"></span>  {% trans "Enterprises" %}</a> </li>
                    <li><a href="{% url "costs:enterprise_create" %}"
                      title="{% trans 'an enterprise or provider which occurs regularly in your costs' %}"><span class="glyphicon glyphicon-pencil"></span>  {% trans "Create an enterprise" %}</a> </li>
                  </ul>
                </li>

                <li class="dropdown"><a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-stats"></span> Dashboard<span class="caret"</span></a>
                    <ul class="dropdown-menu">
                      <li><a title="All Branches" href="{% url 'dashboard:main' %}">Main</a> </li>
                      {% show_branches %}
                    </ul>
                </li>
            {% endif %}

            {%  if user.is_authenticated %}

            <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
            {% else %}
            <li>
              <a class="active" href="{% url 'login' %}">{% trans 'Log in' %} <span class="fa fa-sign-in"></span></a>
            </li>
            {% endif %}
          </ul>
        </div>
        </div>
	  </nav>

    <div class="content">

      {% if messages %}
        <div class="container">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ forloop.counter }}. {{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}
      {% endblock content %}
    </div>

    <div class="container">
    {% block footernav %}

    {% endblock %}
    </div>

    {% block footer %}

    <!--<footer class="footer">-->
      <!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
        <!--<div class="container-fluid">-->
          <!--<div class="container">-->
            <!--<div class="navbar-header">-->
              <!--<a class="navbar-brand" href="http://metacoherence.ch/" target="_blank">{% trans 'créé par' %} <b>Metacoherence</b>-->
              <!--</a>-->
            <!--</div>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
              <!--<li><a>Version 0.0.2</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</nav>-->
    <!--</footer>-->
    {% endblock %}

    <!-- Third-party javascript libraries go here -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/js.cookie.js' %}"></script>
    <!--mon ajout-->
    <script src="/static/jqueryui/jquery-ui.min.js"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap-dialog.min.js' %}"></script>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>


    <!--ajouté par moi-->
    <script src="{% static 'js/project.js' %}"></script>
    <script src="/static/jquery/jqueryhello.js"></script>
    <script src="/static/jqueryui/external/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/jqueryui/jquery-ui.min.js"></script>
    <script src="/static/jqueryui/i18n/datepicker-es.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>

    <!-- Project specific javascript -->
    {% block javascript %}
    {% endblock javascript %}

  </body>
</html>

