<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}


{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<html lang="{{ LANGUAGE_CODE }}" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- Third-party CSS libraries go here -->
    <link href="{% static 'bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap3/css/bootstrap-dialog.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!--ajouté par moi pour datepicker jquery-->
    <link rel="stylesheet" href="/static/jqueryui/jquery-ui.min.css">

    <!-- Project specific CSS -->
    {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo" href="/">Cosas de casa</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ LANGUAGE_CODE }}</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown02">{% for lang in LANGUAGES %}
                <form id="formsetLang{{ lang.0 }}" action="{% url 'set_language' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="language" value="{{ lang.0 }}" />
                  <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                </form>
                <li><a class="language_changer" id="{{ lang.0 }}" href="#">{{ lang.1 }}</a></li>
              {% endfor %}
              </ul>
            </li>
        </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans "Setup" %}
                       <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "inventory:arrival_create" %}" title="{% trans 'Create an arrival' %}">(1) {% trans 'Create one arrival' %}</a></li>
                        <li><a href="{% url "inventory:arrivals" %}" title="{% trans 'Arrivals List' %}">{% trans 'Arrivals' %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "inventory:branches" %}">{% trans 'Branches' %}</a> </li>
                        <li><a href="{% url "inventory:branch_create" %}">{% trans 'Create Branch' %}</a> </li>
                        <li class="divider"></li>
                        <li><a href="{% url "inventory:upload_zipics" %}" title="{% trans 'Upload pictures ZIP' %}">(2) {% trans 'Upload ZIP pictures' %}</a></li>
                        <li><a href="{% url "inventory:handle_pics" %}" title="{% trans 'Generate articles from pictures' %}">(3) {% trans 'Generate Articles' %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "inventory:category_create" %}" title="{% trans 'Create category' %}">(4) {% trans 'Create one Category' %}</a></li>
                        <li><a href="{% url "inventory:categories" %}" title="{% trans 'List the categories' %}">{% trans 'Categories' %}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans "Caisse" %}
                       <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "inventory:articles" %}" title="{% trans 'Liste des articles' %}">{% trans 'Liste des articles' %}</a></li>
                        <li><a href="{% url "cart:cart_content" %}">{%trans 'Contenu du panier' %}</a></li>
                        <li><a href="{% url "cart:ventes"  %}">{% trans 'Ventes' %}</a></li>
                        <li><a href="{% url "cart:paiements"  %}">{% trans 'Payments' %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "cart:clients" %}">{% trans 'Clients' %}</a></li>
                        <li><a href="{% url "cart:client_create" %}">{% trans 'Ajouter un client' %}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown">{% trans "Costs" %}
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url "costs:costs" %}">{% trans "Costs" %}</a> </li>
                    <li><a href="{% url "costs:costs_create" %}">{% trans "Add one Cost" %}</a> </li>
                    <li class="divider"></li>
                    <li><a href="{% url "costs:categories" %}">{% trans "Categories" %}</a> </li>
                    <li><a href="{% url "costs:category_create" %}">{% trans "Create a category" %}</a> </li>
                    <li class="divider"></li>
                    <li><a href="{% url "costs:enterprises" %}">{% trans "Enterprises" %}</a> </li>
                    <li><a href="{% url "costs:enterprise_create" %}"
                      title="{% trans 'an enterprise or provider which occurs regularly in your costs' %}">{% trans "Create an enterprise" %}</a> </li>
                  </ul>
                </li>

                <li class="dropdown"><a href="#" data-toggle="dropdown">Dashboard<span class="caret"</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'dashboard:main' %}">Main</a> </li>
                    </ul>
                </li>
            {% endif %}

            {%  if user.is_authenticated %}

            <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
            {% else %}
            <li>
              <a class="active" href="{% url 'login' %}">{% trans 'Log in' %} <span class="fa fa-sign-in"></span></a>
            </li>
            {% endif %}

            <!--{% if user.is_authenticated %}-->
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" href="#" data-toggle="dropdown">Admin-->
                  <!--<span class="caret"></span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                  <!--<li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>-->

                <!--</ul>-->
            <!--</li>-->
            <!--{% endif %}-->


              <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" href="#" data-toggle="dropdown">-->
                  <!--<span><i class="fa fa-user fa-fw" aria-hidden="true"></i>{{ request.user }}</span>-->
                  <!--<span class="caret"></span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                  <!--{% if user.is_authenticated %}-->
                  <!--<li><a href="#">{% trans 'Profile' %}</a></li>-->
                  <!--<li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>-->
                  <!--<li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>-->
                  <!--{% else %}-->
                  <!--<li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>-->
                  <!--{% endif %}-->
                <!--</ul>-->
              <!--</li>-->

          </ul>
        </div>
	  </nav>

    <div class="content">

      {% if messages %}
        <div class="container">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ forloop.counter }}. {{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}
      {% endblock content %}
    </div>

    <div class="container">
    {% block footernav %}

    {% endblock %}
    </div>

    {% block footer %}

    <!--<footer class="footer">-->
      <!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
        <!--<div class="container-fluid">-->
          <!--<div class="container">-->
            <!--<div class="navbar-header">-->
              <!--<a class="navbar-brand" href="http://metacoherence.ch/" target="_blank">{% trans 'créé par' %} <b>Metacoherence</b>-->
              <!--</a>-->
            <!--</div>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
              <!--<li><a>Version 0.0.2</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</nav>-->
    <!--</footer>-->
    {% endblock %}

    <!-- Third-party javascript libraries go here -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/js.cookie.js' %}"></script>
    <!--mon ajout-->
    <script src="/static/jqueryui/jquery-ui.min.js"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap-dialog.min.js' %}"></script>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>


    <!--ajouté par moi-->
    <script src="{% static 'js/project.js' %}"></script>
    <script src="/static/jquery/jqueryhello.js"></script>
    <script src="/static/jqueryui/external/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/jqueryui/jquery-ui.min.js"></script>
    <script src="/static/jqueryui/i18n/datepicker-es.js"></script>


    <!-- Project specific javascript -->
    {% block javascript %}
    {% endblock javascript %}

  </body>
</html>

