{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<div id="bienvenue" class="container">
    {% if request.user.is_authenticated %}
    <h1>{% trans "Bienvenue" %} {{ user.first_name|default:user.username }}!</h1>
       {% if employee %}
       <p>{% trans "Votre employeur" %}: {{employee.enterprise}}</p>



     <h3>{% trans "Comment saisir une vente" %} <small>{% trans "step-by-step guide" %}</small></h3>

      <p>{% trans "Allez à la " %}
      <a href="{% url "inventory:articles" %}">{% trans "1ère étape" %}</a></p>
  <div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
         style="width:5%">
    5% {% trans "de la vente achevée" %}
    </div>
  </div>



       {% else %}
       <div class="container">
         <div class="jumbotron">

         {% blocktrans %}
         <h2>Pas un employé/e? Alors pas de contenu visible!</h2>
           <p>
             Le compte que vous utilisez n'est pas relié à un employé. Vous n'avez donc pas accès
             au contenu de ce site. Mais peut-être avez-vous un autre compte?
           </p>

           <p>Dans ce cas veuillez vous déconnecter puis vous
             {% endblocktrans %}
             <a href="{% url 'login' %}">{% trans 'annoncez'</a>
             {% blocktrans %}
             avec un autre nom d'utilisateur/trice, ou
           adressez vous à votre administrateur/trice pour qu'il vous enregistre comme employé/e.
             {% endblocktrans %}
           </p>

         </div>
       </div>
       {% endif %}
    {% else %}
  <div class="container">
         <div class="jumbotron">
           <h1>{% trans "Bienvenue sur notre site!" %}</h1>

           <p>{% trans "Tout prochainement nous présenterons nos soldes pour nos visiteurs" %}.</p>

           <p>{% trans "A tout bientôt" %}!</p>
         </div>
       </div>



    {% endif %}



</div>
{% endblock %}
