{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load thumbnail %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<div id="bienvenue" class="container">
    {% if request.user.is_authenticated %}
    <h1>{% trans "Bienvenue" %} {{ user.first_name|default:user.username }}!</h1>
       {% if employee %}
       <p>{% trans "Votre employeur" %}: {{employee.enterprise}}</p>



     <h3>{% trans "Comment saisir une vente" %} <small>{% trans "step-by-step guide" %}</small></h3>

      <p>{% trans "Allez à la " %}
      <a href="{% url "inventory:articles" %}">{% trans "1ère étape" %}</a></p>
  <div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
         style="width:10%">
    5% {% trans "de la vente achevée" %}
    </div>
  </div>
       {% else %}
       <div class="container">
         <div class="jumbotron">

         {% blocktrans %}
         <h2>Pas un employé/e? Alors pas de contenu visible!</h2>
           <p>
             Le compte que vous utilisez n'est pas relié à un employé. Vous n'avez donc pas accès
             au contenu de ce site. Mais peut-être avez-vous un autre compte?
           </p>

           <p>Dans ce cas veuillez vous déconnecter puis vous
             {% endblocktrans %}
             <a href="{% url 'login' %}">{% trans 'annoncez'</a>
             {% blocktrans %}
             avec un autre nom d'utilisateur/trice, ou
           adressez vous à votre administrateur/trice pour qu'il vous enregistre comme employé/e.
             {% endblocktrans %}
           </p>

         </div>
       </div>
       {% endif %}
    {% else %}
  <div class="container">
    <div id="jumbotron-home" class="jumbotron">
      <div class="container text-center">
        <h2>{% trans "Bienvenue dans notre chère boutique!" %}</h2>
        <p>{% trans "Nous nous trouvons au quartier Fouda, à côté du restaurant <em>Le Cercle Vert</em>." %}</p>
        <div class="row">
          <div class="media col-sm-6">
            <div class="media-top">
              <a href="/media/boutique.jpg">
                <img src="/media/boutique_resized.jpg" alt="atelier" style="padding-bottom: 10pt;">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{% trans "Nous avons récemment aménagé l'étage." %}</h4>
            </div>
          </div>
          <div class="media col-sm-6">
            <div class="media-top">
              <a href="/media/mika_atelier_large.jpg">
                <img src="/media/mika_atelier.jpg" alt="atelier" style="padding-bottom: 10pt;">
              </a>
            </div>
            <div class="media-body" >
              <h4 class="media-heading" style="padding-bottom: 10pt">{% trans 'Bien sûr nous conservons notre atelier de confection pour le sur-mesure et les retouches' %}</h4>
              <p>{% trans "En ce moment il y a des <strong>soldes...</strong> Profitez!" %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2>{% trans 'Articles en solde' %}</h2>
         <div class="row">
           {% for a in soldes %}
           <div class="col-md-3 col-sm-4 col-xs-6">
             {% if a.photo_set.all %}
             {% thumbnail a.photo_set.first.photo  "100x100" crop="center" as im %}
             <div class="media">
                <div class="media-top">
                  <a href="{{ a.photo_set.first.photo.url }}" alt="image de {{a.nom}}-ID: {{a.pk}}">
                    <img src="{{ im.url }}" alt="The thumbnail" style="width: {{ im.width }}">
                  </a>

                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Article {% trans "Nr." %}<a href="{{ a.photo_set.first.photo.url }}"> <em>{{ a.pk  }}</em></a> </h4>
                  <!--{% if a.prix_total %}-->
                  <!--<p>{{ a.prix_total|floatformat:-2 }} XAF</p>-->
                  <!--{% else %}-->
                  <!--<p><em>{% trans "prix inconnu" %}</em></p>-->
                  <!--{% endif %}-->
                </div>
               {% endthumbnail %}
            </div>
             {% endif %}
           </div>
           {% endfor %}
           {% if soldes.has_other_pages %}
           <ul class="pagination">
             {% if soldes.has_previous %}
             <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
             {% else %}
             <li class="disabled"><span>&laquo;</span></li>
             {% endif %}
             {% for i in soldes.paginator.page_range %}
             {% if soldes.number == i %}
             <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
             {% else %}
             <li><a href="?page={{ i }}">{{ i }}</a></li>
             {% endif %}
             {% endfor %}
             {% if soldes.has_next %}
             <li><a href="?page={{ soldes.next_page_number }}">&raquo;</a></li>
             {% else %}
             <li class="disabled"><span>&raquo;</span></li>
             {% endif %}
           </ul>
           <h4>{% trans "Quelque chose vous tente?" %}</h4>
           <p>{% trans "Alors envoyez- nous un petit courriel à cette" %} <a href="mailto:bassy@prestigemikafric.com">{% trans 'adresse' %}</a>.</p>
         </div>

{% endif %}

       {% if DEV %}
       <div class="info alert-success">
         <h3>{% trans "Info de connexion pour ce site de test" %}</h3>
         <ul>
           <li>Login: test</li>
           <li>Password: blacksnow</li>
         </ul>
       </div>
       {% endif %}
  </div>



    {% endif %}



</div>
{% endblock %}
