{% extends "inventex.html" %}
{% load humanize %}
{% block content %}

<table class="table">
      <thead>
         <tr>
            <th>No</th>
             <th>Date d'ajout</th>
             <th>Action</th>
            <th>Titre</th>
            <th>Quantité</th>
            <th>Prix</th>
           <th>Modifier</th>
            <th>Total</th>
         </tr>
      </thead>

      <tbody>
      {% for item in cart %}
      <tr><td>{{ forloop.counter }}</td>
          <td>{{ item.date_added }}</td>
          <td>
              <form method="POST" action="{% url "cart:remove_item" item.article.pk  %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-warning" value="Supprimer"/>
              </form>
          </td>
          <td><a href="{% url "inventory:article_detail" item.article.pk %}">{{ item.article.nom }}</a></td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.prix|intcomma }}</td>
          <td><form method="POST" action="{% url "cart:edit_price" item.pk %}">
              {% csrf_token %}
              {% if error_message %}
              <label onerror="{{ error_message }}" >{{error_message}}</label>
              <input id="new_price" type="number" value="{{ new_price }}" name="new_price">
              {% else %}
              <input id="new_price" type="number" value="{{ item.prix }}" name="new_price">
              {% endif %}


              <input type="submit" class="btn btn-success" value="Modifier"/>
              </form> </td>
          <td>{{ item.total }}</td>
      </tr>
      {% endfor %}
      <tr>
          <th colspan="6">Total de votre panier:</th>
          <td id="amount"><strong>{{ cart_total|intcomma }}</strong></td>
      </tr>

    </table>
{% if cart_total %}


<div class="container">
  <p><a class="btn btn-success" href="{% url "cart:checkout" %}">Passer la commande</a> </p>
</div>


{% endif %}

{% endblock %}
