{% extends "inventex.html" %}
{% load static %}
{% load i18n %}
{% block content %}

    <table class="table table-light">
      <thead class="thead-light">
      <tr>
          <th>ID</th>
          <th>{% trans 'Nom' %}</th>
          <th>{% trans 'Prénom' %}</th>
          <th>{% trans 'Téléphone' %}</th>
          <th>{% trans 'Modifier' %}</th>
      </tr>
      </thead>

      <tbody>
      {% for a in clients %}
      <tr>
          <td><a href="{% url "cart:client" a.pk %}">{{a.pk}}</a></td>
          <td>{{ a.nom }}</td>
          <td>{{ a.prenom }}</td>
          <td>{{ a.tel }}</td>
          <td><a href="{% url "cart:client_update" a.pk %}">{% trans 'Modifier'%}</a> </td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
