{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

<h3>{% trans "Step 6" %}  <small>{% trans "step-by-step guide" %}</small></h3>

  {% if solde > 0 %}
  <h4>{% trans "Add one selling" %} <small>{% trans "remaining balance"%}: {{solde|intcomma}}</small></h4>
  {% else %}
  <h4>{% trans "Selling closed!" %} <small>{% trans "remaining balance"%}: {{solde|intcomma}}</small></h4>

  {% endif %}


 <div class="progress">
    {% if solde > 0 %}
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
         style="width:90%">
    90% {% trans "of the selling process" %}
    </div>
    {% else %}
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
         style="width:100%">
    100% {% trans "of the selling process" %}
   {% endif %}
 </div>

{% if solde > 0 %}
   {% crispy form %}
{% else %}
   <h3>Selling closed!</h3>
{% endif %}

{% block javascript %}
<script type="text/javascript">

$( function() {
     $.datepicker.setDefaults(
       $.datepicker.regional["fr-CH"]);
     $( '[id="datetimepicker_vente"]' ).datepicker({
       dateFormat: "yy-mm-dd" });
}
);

$(function() {
  $('[id="test"]').html('3333333');
});
 </script>
{% endblock %}

</div>
{% endblock %}
