{% extends "inventex.html" %}
{% load static %}
{% load humanize %}
{% block content %}

    <table class="table table-light">
      <thead class="thead-light">
      <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Article</th>
          <th>Client</th>
          <th>Montant total</th>
          <th>Solde à payer</th>
          <th>Règlement terminé?</th>
      </tr>
      </thead>

      <tbody>
      {% for a in ventes %}
      <tr>
          <td> <a title="Cliquer pour ajouter un paiement ou voir les détails de la vente" href="/cart/vente/{{a.pk}}">{{ a.pk }} paiement++ </a> </td>
          <td>{{ a.date|date:"D d/m/y" }}</td>
          <td>{{ a.cartitem_set.first.article.nom }}</td>
          <td>{{ a.client.nom|default_if_none:"anonyme" }}</td>
          <td>{{ a.montant|intcomma }}</td>
          <td>{{ a.solde_paiements|intcomma}}</td>
          <td>{{ a.reglement_termine|yesno:"Oui,Non" }}</td>
      </tr>
      {% endfor %}
      <tr>
        <th colspan="4">Total</th>
        <td colspan="4"><b>{{total|intcomma}}</b></td>
      </tr>
    </table>

{% endblock %}
