{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

  <h3>{% trans 'Edit the Selling-ID ' %}<code>{{vente.pk}}</code></h3>
{% crispy form %}

<table class="table">
      <thead>
      <tr>
          <th>{% trans 'Article-ID' %}</th>
          <th>{% trans 'Nom' %}</th>
          <th>{% trans 'Aperçu' %}</th>
          <th>{% trans 'Prix' %}</th>
          <th>{% trans 'Quantité' %}</th>
          <th>{% trans 'Supprimer' %}</th>
      </tr>
      </thead>
      <tbody>
          {% for a in vente.cartitem_set.all %}
          <tr>
              <td><a title="{% trans 'Cliquer pour voir les détails' %}" href="/inventory/article_detail/{{a.article.pk}}">{{ a.article.pk }}</td>
              <td>{{a.article.name}}</td>
              {% if a.article.photo %}
              {% thumbnail a.article.photo.path  "50x50" crop="center" as thumbnail %}
              <td><a href="{{ a.article.photo.url }}" alt="image">
                  <img src="{{ thumbnail.url }}" alt="The thumbnail" style="width: {{ thumbnail.width }}">
                  </a>
              </td>
              {% endthumbnail %}
              {% else %}
              <td>{% trans "pas d'aperçu" %}</td>
              {% endif %}
              <td>{{a.prix|intcomma}}</td>
              <td>{{a.quantity}}</td>
              <td><a href="{% url "cart:remove_article_from_vente" a.pk %}">{% trans 'Supprimer' %}</a> </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  {% if vente.cartitem_set.all|length == 0 %}


  <h3>{% trans "Supprimer la vente ID" %} {{vente.pk}}</h3>

  <p>
  <form method="GET" action="{% url "cart:vente_delete" vente.pk  %}">
       {% csrf_token %}
       <input type="submit" class="btn btn-danger" value="{% trans 'Effacer la vente' %}"/>
    </form>
</p>
  {% endif %}



</div>





{% block javascript %}
<script type="text/javascript">

$( function() {
     $.datepicker.setDefaults(
       $.datepicker.regional["fr-CH"]);
     $( '[id="datetimepicker_vente"]' ).datepicker({
       dateFormat: "yy-mm-dd"});
}
);



$(function () {
     $('[id="sss-datetimepicker_vente"]').datetimepicker();
});


  </script>
{% endblock %}
{% endblock %}
