body
{
    color: black;
    /* box-shadow: 6px 6px 6px; */
    /* text-decoration: underline; */
    /* background-image: url('images/logindoor.jpg'); */
    background-color: blanchedalmond;
    opacity: 1.0;
    margin: auto;
}

#costs-filter {
    background-color: BurlyWood;
    opacity: 1.0;
}

#submit-id-submit {
    margin-top: 10pt;
}

#filtre_articles {
    background-color: DARKKHAKI;
}

@media screen and (min-width: 0px) and (max-width: 400px) {



}

@media screen and (min-width: 401px) {

}

.media-top {

   margin-bottom: 10pt;
}

#jumbotron-home {

 background-color: bisque;
}
