{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block content %}
<p>
<div class="container">



  <h2>{% trans "Arrival Details" %}</h2>

  <table class="table">
    <tbody>

      <tr>
        <th>{% trans "Date" %}</th><td>{{arrival.date_arrivee}}</td>
      </tr>

      <tr>
          <th>{% trans "Name" %}</th>
        <td>{{arrival.nom}}</td>
      </tr>
      <tr>
          <th>{% trans "Owner" %}</th>
        <td>{{arrival.proprietaire}}</td>
      </tr>

    </tbody>
  </table>

</div>
</p>


{% endblock %}

{% block footernav %}

{% endblock %}
