{% extends "inventex.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
<!--<p>-->
    <!--<form action="" method="get">-->
        <!--{{ filter.form|crispy}}<br>-->
    <!--<button type="submit" class="btn btn-success">Filtrer</button>-->
<!--</form>-->
<!--</p>-->

  <form action="" method="get">
        <div class="well well-sm" id="filtre_articles">
          <h4 style="margin-top: 0">Filtre</h4>
          <div class="row">
            <div class="form-group col-sm-4 col-md-3">
              {{filter.form.id.label_tag}}
              {% render_field filter.form.id class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              <strong>Partie du nom:</strong>
              {% render_field filter.form.nom__icontains  class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              <strong>Partie de la marque:</strong>
              {% render_field filter.form.marque__nom__icontains  class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              {{filter.form.genre_article.label_tag}}
              {% render_field filter.form.genre_article  class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              {{filter.form.type_client.label_tag}}
              {% render_field filter.form.type_client  class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              {{filter.form.solde.label_tag}}
              {% render_field filter.form.solde  class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              <strong>Quantité en stock supérieure à:</strong>
              {% render_field filter.form.quantite__gt  class="form-control" placeholder="0" %}
            </div>


          </div>
        </div>
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-search"></span> Filtrer
      </button>
    <!--<button type="submit" class="btn btn-success">Filtrer</button>-->
  </form>


<h3>{{count}} articles trouvés.</h3>
  <!--{% if q %}-->
  <!--<p>Requête: {{q}}</p>-->
  <!--{% else %}-->
  <!--<p>Pas de filtre</p>-->
  <!--{% endif %}-->


    <table class="table table-light">
      <thead class="thead-light">
      <tr>
          <th>Nr.</th>
          <th>Aperçu</th>
          <th>Type de client</th>
          <th>Genre d'article</th>
          <th>Date d'ajout</th>
          <th>Nom</th>
          <th>Marque</th>
          <th>Quantité</th>
          <th>Prix total</th>
      </tr>
      </thead>


      <tbody>
      {% for a in articles %}
      <tr>
        <td>{{ forloop.counter0|add:start_index}} </td>
          {% if a.photo_set.all %}
          {% thumbnail a.photo_set.first.photo  "50x50" crop="center" as im %}
          <td><a href="{{ a.photo_set.first.photo.url }}" alt="image de {{a.nom}}-ID: {{a.pk}}">
              <img src="{{ im.url }}" alt="The thumbnail" style="width: {{ im.width }}">
              </a>
          </td>
          {% endthumbnail %}
          {% else %}
          <td>pas photo</td>
          {% endif %}
          <td>{{ a.get_type_client_display}}</td>
          <td>{{ a.get_genre_article_display }}</td>
          <td>{{ a.date_ajout }} {% if a.notes %}
              <br><span class="badge">Possède une note</span>
              {% endif %}
          </td>
           <td> <a title="Cliquer pour voir les détails" href="/inventory/article_detail/{{a.pk}}">{{ a.nom }}</a>  </td>
          <td>{{ a.marque }}</td>
          {% if a.quantite > 0 %}
           <td><span class="badge">{{ a.quantite }}</span></td>
          {% else %}
          <td><span class="badge badge-danger">{{ a.quantite }}</span></td>
          {% endif %}
          <td>{{a.prix_total|intcomma|default_if_none:"<em>à renseigner</em>"}}</td>
      </tr>

      {% endfor %}
      </tbody>
    </table>

  {% if articles.has_other_pages %}
  <ul class="pagination">
    {% if articles.has_previous %}
      <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in articles.paginator.page_range %}
      {% if articles.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <!--<li><a href="?page={{ i }}">{{ i }}</a></li>-->
        <li><a href="?{{ q }}&page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if articles.has_next %}

    <li><a href="?{{ q }}&page={{ articles.next_page_number }}">&raquo;</a></li>
    <!--<li><a href="?marque__nom__icontains=&nom__icontains=&id=&genre_article=&type_client=&solde=S">&raquo;</a></li>-->
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}

