{% extends "inventex.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
<p>
<div class="container">
  <table class="table">
    <tbody>
    <tr>
        <th>No photo</th>
        <td>{{article.photo_no|default_if_none:"à chercher"}}</td>
    </tr>

      <tr>
        <th>Date d'arrivage</th><td>{{article.arrivage.date_arrivee}}</td>
      </tr>

      <tr>
          <th>Nom de l'arrivage</th>
        <td>{{article.arrivage.nom}}</td>
      </tr>
      <tr>
          <th>Date d'ajout</th>
        <td>{{article.date_ajout}}</td>
      </tr>
      <tr>
          <th>Client</th>
        <td>{{article.get_type_client_display}}</td>
      </tr>

      <tr>
        <th>Nom</th>
        <td>{{article.nom}} - ID: {{article.pk}}</td>
      </tr>
      <tr>
        <th>Marque</th>
        <td>{{article.marque}}</td>
      </tr>
      <tr>
          <th>Soldé?</th>
          <td>{{article.get_solde_display}}</td>
      </tr>

      <tr>
          <th>Couleurs / quantités</th>
          <td>{{article.couleurs_quantites}}</td>
      </tr>
      <tr>
          <th>Notes</th>
          <td>{{article.notes}}</td>
      </tr>
      <tr>
          <th>Motifs</th>
          <td>{{article.motifs}}</td>
      </tr>

      <tr>
        <th>Quantité en stock</th>
        <td>{{article.quantite}}</td>
      </tr>
      <tr>
        <th>Prix d'achat</th>
        <!--<td>{{article.prix_achat|default_if_none:"<em>à renseigner</em>"}}</td>-->
        <td>{{article.prix_total|default_if_none:"<em>à renseigner</em>"}}</td>
      </tr>

    </tbody>
  </table>

</div>
</p>


<table class="table-condensed">
    <tr>
        <td>
    <form method="POST" action="{% url "cart:add_item" article.pk  %}">
       {% csrf_token %}
            {% if article.quantite > 0 %}
            <input type="submit" class="btn btn-primary" value="Ajouter au panier"/>
            {% else %}
            <input type="text" class="btn btn-danger disabled" value="Stock épuisé!"/>
            {% endif %}
    </form>
        </td>

    {% if article_in_cart %}
    <td>
    <form method="POST" action="{% url "cart:remove_item" article.pk  %}">
       {% csrf_token %}
       <input type="submit" class="btn btn-warning" value="Supprimer du panier"/>
    </form>

    </td>
    {% endif %}

    </tr>

</table>



<div class="pic_container">
    {% for image in article.photo_set.all %}
    {% thumbnail image.photo  "200x200" crop="center" as thumbnail %}
  <div class="pic">
    <p>
        <a href="{{ image.photo.url }}" alt="image de {{article.nom}}-ID: {{article.pk}}">
        <img src="{{ thumbnail.url }}" alt="The thumbnail" style="width: {{ thumbnail.width }}">
        </a>

        <a href="# supprimer l'image" >Supprimer</a>
    </p>
  </div>
    {% endthumbnail %}
{% endfor %}
</div>



<p>Ajouter une <strong>image</strong> en cliquant <a href="/inventory/upload_pic/{{article.pk}}">ici</a>.</p>



{% endblock %}

{% block footernav %}

{% endblock %}
