{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
<div class="container">

<h3>{% trans "1ère étape" %}  <small>{% trans "step-by-step guide" %}</small></h3>
  <h4>{% trans "Chercher un article pour enregistrer une vente" %}</h4>
  <ol>
    <li>{% trans "Recherchez l'article au moyen du filtre" %}; ({% trans "entrez vos critères et cliquez sur le bouton" %}
      <strong>{% trans "Chercher" %}</strong>)</li>
    <li>{% trans "Accéder à l'article en cliquant sur le lien <strong>Nom</strong>"%};</li>
  </ol>
  <div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
         style="width:20%">
    20% {% trans "de la vente achevée" %}
    </div>
  </div>

  <form action="" method="get">
        <div class="well well-sm" id="filtre_articles">
          <h4 style="margin-top: 0">{% trans "Filtre" %}</h4>
          <div class="row">
            <div class="form-group col-sm-3 col-md-3">
              {{filter.form.id.label_tag}}
              {% render_field filter.form.id class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-4">
              <strong>{% trans "Partie du nom" %}:</strong>
              {% render_field filter.form.name__icontains  class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-4">
              <strong>{% trans "Part of the category's name " %}:</strong>
              {% render_field filter.form.category__name__icontains  class="form-control" %}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-3" >
              <strong>{% trans "en solde" %}:</strong>
              {% render_field filter.form.solde  class="form-control" %}
            </div>
            <div class="form-group col-sm-3 col-md-3">
              <strong>{% trans "Quantité supérieure à" %}:</strong>
              {% render_field filter.form.quantity__gt  class="form-control" placeholder="0" %}
            </div>
          </div>
        </div>
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-search"></span> {% trans "Chercher" %}
      </button>
    <!--<button type="submit" class="btn btn-success">Filtrer</button>-->
  </form>


<h3>{{count}} {% trans "articles trouvés" %}.</h3>
  <!--{% if q %}-->
  <!--<p>Requête: {{q}}</p>-->
  <!--{% else %}-->
  <!--<p>Pas de filtre</p>-->
  <!--{% endif %}-->


    <table class="table table-light">
      <thead class="thead-light">
      <tr>
          <th>{% trans 'Nr.' %}</th>
          <th>{% trans 'Aperçu' %}</th>
          <th>{% trans 'Purchasing price' %}</th>
          <th>{% trans "Selling price" %}</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Category" %}</th>
          <th>{% trans "Reduced price?" %}</th>
          <th>{% trans "Quantity" %}</th>
          <th>{% trans "Description" %}</th>
      </tr>
      </thead>


      <tbody>
      {% for a in articles %}
      <tr>
        <td> <a title="{% trans 'Cliquer pour voir les détails' %}" href="/inventory/article_detail/{{a.pk}}">{{ forloop.counter0|add:start_index}}</a> </td>
          {% if a.photo %}
          {% thumbnail a.photo  "50x50" crop="center" as im %}
          <td><a href="{{ a.photo.url }}" alt="image de {{a.name}}-ID: {{a.pk}}">
              <img src="{{ im.url }}" alt="The thumbnail" style="width: {{ im.width }}">
              </a>
          </td>
          {% endthumbnail %}
          {% else %}
          <td>pas photo</td>
          {% endif %}
          <td>{{ a.purchasing_price|intcomma}}</td>
          <td>{{ a.selling_price|intcomma }}</td>
          <td>{{ a.name|default_if_none:"n.d." }}</td>
          <td>{{ a.category|default_if_none:"n.d." }}</td>
          <td>{{ a.get_solde_display }}</td>
          {% if a.quantity > 0 %}
           <td><span class="badge">{{ a.quantity }}</span></td>
          {% else %}
          <td><span class="badge badge-danger">{{ a.quantity }}</span></td>
          {% endif %}
          {% if a.description %}
          <td>{{ a.description|truncatechars_html:15 }}</td>
          {% else %}
          <td>{% trans "n.d." %}</td>
          {% endif %}
      </tr>

      {% endfor %}
      </tbody>
    </table>

  {% if articles.has_other_pages %}
  <ul class="pagination">
    {% if articles.has_previous %}
      <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in articles.paginator.page_range %}
      {% if articles.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <!--<li><a href="?page={{ i }}">{{ i }}</a></li>-->
        <li><a href="?{{ q }}&page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if articles.has_next %}

    <li><a href="?{{ q }}&page={{ articles.next_page_number }}">&raquo;</a></li>
    <!--<li><a href="?marque__nom__icontains=&nom__icontains=&id=&genre_article=&type_client=&solde=S">&raquo;</a></li>-->
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}

