{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>{% trans "Delete article-ID" %} {{article.pk}} / {% trans "Name:" %} {{article.name}}?</h3>
    </div>
    <div class="col-sm-3">
      <div class="pic_container row">
          {% thumbnail article.photo  "150x150" crop="center" as thumbnail %}
        <div class="pic">
          <p>
              <a href="{{ article.photo.url }}" alt="{% trans 'image de ' %}{{article.name}}-ID: {{article.pk}}">
              <img src="{{ thumbnail.url }}" alt="The thumbnail" style="width: {{ thumbnail.width }}">
              </a>
          </p>
        </div>

         {% empty %}
         <div class="pic">
            {% trans "Sorry no picture available" %}
         </div>
          {% endthumbnail %}

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% crispy form %}
      </div>
  </div>
</div>
{% endblock %}
