{% extends "inventex.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block content %}
<p>
<div class="container">
  <h3>{% trans "2ème étape" %}  <small>{% trans "step-by-step guide" %}</small></h3>
  <h4>{% trans "Ajouter l'article au panier" %}</h4>


  <ol>
    <li>{% trans "Est-ce le bon article" %}? {% trans "Au besoin cliquez sur l'image pour l'agrandir" %}</li>
    <li>{% trans "Ensuite ajoutez le au panier d'achat" %}</li>
  </ol>

    <div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
         style="width:40%">
    40% {% trans "de la vente achevée" %}
    </div>
  </div>



  <h2>{% trans "Détails de l'article" %}</h2>

  <table class="table">
    <tbody>
    <tr>
        <th>{% trans 'No photo' %}</th>
        <td>{{article.photo_no|default_if_none:"à chercher"}}</td>
    </tr>

      <tr>
        <th>{% trans "Date d'arrivage" %}</th><td>{{article.arrivage.date_arrivee}}</td>
      </tr>

      <tr>
          <th>{% trans "Nom de l'arrivage" %}</th>
        <td>{{article.arrivage.nom}}</td>
      </tr>
      <tr>
          <th>{% trans "Date d'ajout" %}</th>
        <td>{{article.date_ajout}}</td>
      </tr>
      <tr>
          <th>{% trans "Client" %}</th>
        <td>{{article.get_type_client_display}}</td>
      </tr>

      <tr>
        <th>{% trans "Nom" %}</th>
        <td>{{article.nom}} - ID: {{article.pk}}</td>
      </tr>
      <tr>
        <th>{% trans "Marque" %}</th>
        <td>{{article.marque}}</td>
      </tr>
      <tr>
          <th>{% trans "Soldé?" %}</th>
          <td>{{article.get_solde_display}}</td>
      </tr>

      <tr>
          <th>{% trans "Couleurs / quantités" %}</th>
          <td>{{article.couleurs_quantites}}</td>
      </tr>
      <tr>
          <th>{% trans "Notes" %}</th>
          <td>{{article.notes}}</td>
      </tr>
      <tr>
          <th>{% trans "Motifs" %}</th>
          <td>{{article.motifs}}</td>
      </tr>

      <tr>
        <th>{% trans "Quantité en stock" %}</th>
        <td>{{article.quantite}}</td>
      </tr>
      <tr>
        <th>{% trans "Prix d'achat" %}</th>
        <!--<td>{{article.prix_achat|default_if_none:"<em>à renseigner</em>"}}</td>-->
        <td>{{article.prix_total|default_if_none:"<em>à renseigner</em>"}}</td>
      </tr>

    </tbody>
  </table>

</div>
</p>


<table class="table-condensed">
    <tr>
        <td>
    <form method="POST" action="{% url "cart:add_item" article.pk  %}">
       {% csrf_token %}
            {% if article.quantite > 0 %}
            <input type="submit" class="btn btn-primary" value="{% trans "Ajouter au panier" %}"/>
            {% else %}
            <input type="text" class="btn btn-danger disabled" value="{% trans 'Stock épuisé!' %}"/>
            {% endif %}
    </form>
        </td>

    {% if article_in_cart %}
    <td>
    <form method="POST" action="{% url "cart:remove_item" article.pk  %}">
       {% csrf_token %}
       <input type="submit" class="btn btn-warning" value="{% trans 'Supprimer du panier' %}"/>
    </form>

    </td>
    {% endif %}

    </tr>

</table>



<div class="pic_container">
    {% for image in article.photo_set.all %}
    {% thumbnail image.photo  "200x200" crop="center" as thumbnail %}
  <div class="pic">
    <p>
        <a href="{{ image.photo.url }}" alt="{% trans 'image de ' %}{{article.nom}}-ID: {{article.pk}}">
        <img src="{{ thumbnail.url }}" alt="The thumbnail" style="width: {{ thumbnail.width }}">
        </a>

        <a href="# supprimer l'image" >{% trans "Supprimer" %}</a>
    </p>
  </div>
    {% endthumbnail %}
{% endfor %}
</div>



<p>{% trans "Ajouter une <strong>image</strong> en cliquant" %} <a href="/inventory/upload_pic/{{article.pk}}">{% trans "ici" %}</a>.</p>



{% endblock %}

{% block footernav %}

{% endblock %}
