{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="bienvenue" class="container">
    {% if request.user.is_authenticated %}
    <h1>Bienvenue {{ user.first_name|default:user.username }}!</h1>
       {% if employee %}
       <p>Votre employeur: {{employee.enterprise}}</p>
       {% else %}
       <div class="container">
         <div class="jumbotron">

         <h2>Pas un employé/e? Alors pas de contenu visible!</h2>
           <p>
             Le compte que vous utilisez n'est pas relié à un employé. Vous n'avez donc pas accès
             au contenu de ce site. Mais peut-être avez-vous un autre compte?
           </p>

           <p>Dans ce cas veuillez vous <a href="{% url "accounts:logout" %}">déconnecter</a> puis vous
             annoncez avec un autre nom d'utilisateur/trice, ou
           adressez vous à votre administrateur/trice pour qu'il vous enregistre comme employé/e.
           </p>
         </div>
       </div>
       {% endif %}
    {% else %}
    <h1>Bienvenue!</h1>
    {% endif %}

    <h2>Ce qu'offre ce site</h2>



    <p class="alert alert-info">Le but du site est de permettre l'établissement d'inventaires afin d'informer sur
        la quantité d'articles en stock, de quel arrivage ils proviennent,
        et leur coût de revient.
    </p>

    <!--
    <p>
        Pour la saisie des coûts il est possible d'utiliser <mark>différentes devises</mark>.
        Le récapitulatif des frais permet de choisir dans quelle devise on souhaite calculer le total.
        Pour les articles aussi il est possible de saisir le prix d'achat dans différentes devises.
    </p>

    <div class="alert alert-warning">
        Mais c'est cette dernière qui est affichée dans la liste des articles. Il serait
        sans doute très pratique de permettre de choisir la devise d'affichage.
    </div>



    <p>
        Une fois que tous les articles ont été saisis le site permet de générer un rapport d'inventaire.
        Il s'agit de la somme de toutes les entrées. On peut générer un rapport pour chaque catégorie
        d'articles (habits, chausures et accessoires).
    </p>

    <p>
        Lorsque des articles sont vendus ils font l'objet de sorties. Lors de la prochaine génération
        d'inventaire ces sorties seront soustraites aux entrées afin de donner le solde en stock.  Mais
        dès qu'un article est sorti sa quantité, visible sur sa fiche et dans la liste récapitulative,
        est mise à jour.
    </p>
    -->

<h2>Comment commencer?</h2>
    <p>
        Vous pouvez procéder de la façon suivante:
    </p>


    <dl class="dl-horizontal">
        <dt>Créer un arrivage</dt>
          <dd>Lors de la création les informations à saisir sont minimales. Il est
      toujours possible d'y revenir plus tard. Pour créer un arrivage, cliquer
          <a href="#">ici.</a>
          </dd>

        <dt>Créer les catégories</dt>
        <dd>Elles vont servir à classer les articles. Le site en contient déjà beaucoup.
        </dd>

        <dt>Saisir les articles</dt>
        <dd>Il est possible de saisir le minimum d'informations lors de la création, puis de compléter
            plus tard en ajoutant photos, prix d'achat etc.</dd>

    </dl>



</div>
{% endblock %}
