{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

<h3>{% trans "Previous Losses"%}</h3>
  <table class="table-condensed">
    <tbody>
    <tr>
      <th>{% trans "Previous losses:" %}</th>
      <td>{{previous_losses}}</td>
    </tr>
    <tr>
      <th>{% trans "Money lost:" %}</th>
      <td>{{amount_losses}}</td>
    </tr>
    </tbody>
  </table>

  <h3>{% trans "New Losses"%}</h3>
  {% crispy form %}

</div>
{% endblock %}


