{% extends "base.html"%}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container">


  <h2>{% trans "Details of the costs" %}</h2>

  <table class="table">
    <tbody>

      <tr>
        <th>{% trans "Creation Date" %}</th><td>{{costs.creation_date}}</td>
        <th>{% trans "Amount" %}</th><td>{{costs.amount}}</td>
        <th>{% trans "Category" %}</th><td>{{costs.category.name}}</td>
      </tr>
      <tr>
        <th>{% trans "Name" %}</th><td>{{costs.name|default_if_none:"n.d."}}</td>
        <th>{% trans "Note" %}</th><td>{{costs.note|default_if_none:"n.d."}}</td>
      </tr>
      <tr>
        <th>{% trans "Enterprise" %}</th><td>{% if costs.enterprise %}{{costs.enterprise.name}}{% else %}n.d.{% endif %}</td>
        <th>{% trans "Billing Date" %}</th><td>{{costs.billing_date|default_if_none:"n.d."}}</td>
        <th>{% trans "Billing Nr" %}</th><td>{{costs.billing_number|default_if_none:"n.d."}}</td>
      </tr>

    </tbody>
  </table>

</div>



{% endblock %}

{% block footernav %}

{% endblock %}
